.tabs{
    background-color:transparent;
    color: black;
}
.icon{
    padding-bottom:5%; 
    padding-top:5px;
    height: 100%;
}
.mascot{
    padding-bottom:10%; 
    padding-top:5px;
    width:70%;
}