<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/contacts">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" ngModel name="name" #nameCtrl="ngModel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Profile Photo (link)</ion-label>
        <ion-input type="text" ngModel name="photo" #photoCtrl="ngModel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" ngModel name="email" #emailCtrl="ngModel" required email></ion-input>
      </ion-item>
      <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <ion-label>Should be a valid email address.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="string" ngModel name="phone" #passwordCtrl="ngModel" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" expand="block" [disabled]="!form.valid">Add</ion-button>
  </form>
</ion-content>
