<ion-header>
  	<ion-toolbar>
      <!-- <ion-buttons slot='primary'> -->
        <ion-button class='avatar' slot='start'>
          	<ion-avatar class='button-avatar'>
          		<img src='assets/icon/thropy.png'>
          	</ion-avatar>
          	<p>0 pt</p>
        </ion-button>
        <ion-button  color='none' class='avatar'slot='end'>
          	<img src='assets/icon/mascot.png'>
        </ion-button>
      <!-- </ion-buttons> -->
  	</ion-toolbar>
</ion-header>

<ion-content>
  <img class='icon'src='assets/icon/mascot.png'>
</ion-content>
